html,
body,
#app {
  width: 100%;
  height: 100%;
}

body {
  /* background-image: url('https://i.pinimg.com/originals/f2/f5/13/f2f513ded2eca406b32c468ffd961614.jpg'); */
  background-color: aquamarine;
  background-size: cover;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* color:  */
}

/* .oauth {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

#reset {
  position: fixed;
  top: 0;
  left: 33%;
  width: 33%;
  background-color: rgb(230, 134, 134);
}

#header,
.page {
  background-color: rgb(255, 255, 255);
  border: 0.2em solid black;
  border-radius: 20px;
  width: 50%;
  margin: auto;
  padding: 2em 1em;
}
.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40%;
  align-items: center;
}
.buttonContainer button {
  margin: 2vh;
  height: 60px;
  width: 240px;
}

#header > h1 {
  font-size: 3vw;
  margin: 0;
  color: rgb(250, 159, 174);
}

img {
  width: 70%;
  height: auto;
}

button {
  border-radius: 5px;
  background-color: rgb(163, 157, 247);
  font-weight: bold;
  box-shadow: 0 2px #999;
  cursor: pointer;
  margin: 0.5vh;
}
button:active {
  background-color: rgba(107, 128, 138, 0.829);
  box-shadow: 0 0px #666;
  transform: translateY(2px);
}

.page {
  margin-top: 0.5rem;
  padding: 0.3em 1em;
}

.gif {
  border: 0.2em solid black;
}

.purple-text {
  color: rgb(111, 73, 134);
}

.teal-text {
  color: teal;
}

.green {
  background-color: rgb(200, 242, 200);
}

.underline {
  text-decoration: underline;
}

.submission {
  margin: auto;
  margin-bottom: 4px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.submission > * {
  width: 100%;
  padding: 4px 0;
}
@media only screen and (min-device-width: 800px) {
  #scoreboard {
    background-color: #fff;
    position: fixed;
    right: 10px;
    top: 10%;
    min-height: 50%;
    width: 15%;
    padding: 0.5em;
    border: 0.2em solid black;
    border-radius: 20px;
  }
  .userscore {
    display: flex;
    justify-content: space-between;
    padding: 8px 4px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 800px) {
  #header,
  .page {
    width: 80%;
  }
  #header > h1 {
    font-size: 4vw;
  }
  img {
    width: 100%;
  }

  #scoreboard {
    background-color: #fff;
    padding: 0.5em;
    border: 0.2em dashed black;
  }
  .userscore {
    display: flex;
    justify-content: space-between;
    padding: 8px 4px;
  }
}

.createFont {
  font-size: 65px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* color:  */
}

.createForm {
  display: flex;
  flex-direction: column;
  background-color: rgba(105, 105, 105, 0.274);
  border-radius: 8px; /* justify-content: center; */ /* align-content: center; */ /* align-self: center; */ /* padding-left: 258px; */
  align-items: center;
  width: 50%;
  justify-content: space-around;
  height: auto;
}
.createGameContainer {
  display: flex;
  justify-content: centers;
  align-items: center;
  flex-direction: column;
}

.inputField {
  border-radius: 8px;
  margin: 10px;
  height: 30px;
}

.gameDetail {
  background-color: rgba(105, 105, 105, 0.274);
  border-radius: 5px;
  justify-items: center;
  margin-top: 20px;
  width: 180px;
  height: auto;
  padding: 1vw;
}

/* .challengeBox {
  width: 40%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
} */
